.container{
    width: 100%;
    padding-top: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
  }
  
  .button-container{
    display: flex;
    justify-content: flex-end;
  }
  
  
  .title{
    display: flex;
    justify-content: center;
  }
  .green-box{
    display: flex;
    border: 2px solid green;
    flex-direction: column;
    width: 100%;
    margin: 5px;
  }
  
  #physics {
    background: url('../../../assets/physicsimg.png');
    background-color: #ffbe00;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  #chemistry {
    background: url('../../../assets/chemimg.png');
    background-color: #ff6d55;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  #biology {
    background: url('../../../assets/bioimg.png');
    background-color: #83e21f;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  #mathematics {
    background: url('../../../assets/mathsimg.png');
    background-color: #a8badb;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  .physics {
    background: url('../../../assets/physicsimg.png');
    background-color: #ffbe00;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  .chemistry {
    background: url('../../../assets/chemimg.png');
    background-color: #ff6d55;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  .biology {
    background: url('../../../assets/bioimg.png');
    background-color: #83e21f;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  .mathematics {
    background: url('../../../assets/mathsimg.png');
    background-color: #a8badb;
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    background-position-y: 15px;
  }
  
  .subjects-filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
  }
  
  .subjects-card {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .pictures{
    display: flex;
  
  }
  
  .secondcontent{
    display: flex;
    justify-content: center;
    gap: 1;
  }
  
  .first{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
  
  .second{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
  }
  
  #teacher-type{
    display: flex;
    width: 100%;
  }
  
  .form-column {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 20px;
  }
  
  .form-field {
    border: 3px solid #006400;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 8px;
    width: 45%;
  }
  
  .additional-text {
    font-weight: bold;
    color: #006400;
    margin-top: 10px;
  }
  
  .half-width-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: 5%;
    padding: 5px;
  }
  
  .half-width-buttons button {
    flex: 1;
    margin-right: 5px;
    padding: 8px;
  }
  
  .school-button,
  .private-button,
  .blue-button {
    cursor: pointer;
    color: #3498db;
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid grey;
    box-shadow: 2px 2px 5px 2px #888888;
  }
  
  
  .group{
    display: flex;
    justify-content: space-between;
  }
  
  .selectgroup {
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 10px;
    width: 50%;
   
  }
  
  .flex-container {
    flex: 1;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
  
  select {
    width: 100%;
    border: 3px solid #006400;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 8px;
    
  }
  
  .thirdcontent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .bluebutton{
    padding: 10px;
    background-color: rgb(17, 17, 177);
    border-radius: 2px;
    color: white;
    margin: 10px;
  }